﻿<header class="main-header">
    <div class="header-container">
        <img src="logo.svg" alt="Logo" class="logo" />
        <nav class="nav-menu">
            <a href="/">Główna</a>
            <a href="catalog">Katalog</a>
            <a href="news">Aktualności</a>
        </nav>
    </div>
</header>
